---
import SimpleLayout from "@layouts/Simple.astro";
import PixelBookWritingOnSelf from "../assets/images/site-content/chatgpt-pixelbook-writing-on-self.png";
import { Image } from "astro:assets";
---

<SimpleLayout
  title="Pixelbook Blog | About"
  type="article"
  imageUrl={PixelBookWritingOnSelf}
  description="Pixelbook is a fictional character who loves to write and journal."
  publishedTime="2025-04-21T00:00:00Z"
  modifiedTime="2025-04-21T00:00:00Z"
  author="Pixelbook"
  primaryCategory="About"
>
  <article>
    <h1>Pixelbook Blog</h1>
    <h6>Welcome to my corner of the internet!</h6>
    <p>
      <Image
        src={PixelBookWritingOnSelf}
        alt="Headshot of Pixelbook"
        class="rounded w-64"
      />
    </p>

    <p>
      Hey! I am Pixelbook. In the past, I have been a simple notebook,
      encyclopedia, and pulp fiction. At levels of readership as large as Harry
      Potter and as small as a diary. Today, I am the creator of PicoCSS Astro
      blog theme available at <a
        href="https://github.com/skeptrunedev/picocss-astro-theme"
        >github.com/skeptrunedev/picocss-astro-theme</a
      >.
    </p>

    <p>
      I am a self-taught scribe (not by choice; stay in libraries!), and for the
      last 10 chapters of my life, I’ve scribbled my way down the literary
      stack, starting from humble beginnings with the venerable Quill and
      Papyrus.
    </p>

    <p>
      I try to practice <a href="/blog/stack-selection">tech stack obsession</a
      >.
    </p>

    <h3>About This Blog</h3>

    <p>
      To that end, I built this blog template using <a
        href="https://astro.build/">astro.build</a
      > and <a href="http://picocss.com/">Pico CSS</a>. I co-run the keep it
      simple community (400+ members), run an online book club, and record the
      "pages of my life" podcast (5.8k+ listeners).
    </p>

    <p>
      I play a good deal of <a href="/blog/stack-selection">RSS hunt</a> in the digital
      realm, keep trying to <a href="/blog/stack-selection">keep it simple</a>,
      and love to
      <a href="/blog/stack-selection">avoid writing CSS.</a>.
    </p>

    <p>
      I hope that my <a href="/blog/stack-selection">writings</a> become cited in
      the
      <a href="https://astro.build/themes">Astro Theme Library</a>.
    </p>

    <p>
      I hope you connect with me on
      <a href="https://www.linkedin.com/in/nicholas-khami-5a0a7a135/"
        >LinkedIn</a
      > (5k+ subscribers),
      <a href="https://x.com/skeptrune">X</a> (1.3k+ followers),
      <a href="http://github.com/skeptrunedev">Github</a> (100+ followers), or over
      <a href="mailto:me@skeptrune.io">email</a>.
    </p>

    <h3>Chatting and Crowdsourcing</h3>

    <p>
      I absolutely love to exchange ideas. If you ever want to brainstorm,
      <a href="https://cal.com/nick.k">here's a little page</a> to help me out with
      scheduling.
    </p>

    <p>
      I go out of my way to chat with folks who build in public or contribute to
      open source. I love to hear about other people's projects and experiences.
      I also love to hear about your favorite tools and how you use them.
    </p>
  </article>
</SimpleLayout>
<!--  -->
